<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connStr" value="server=172.20.70.42;database=MTD_Production;uid=MTD_Production;pwd=w0mbat" />
    <!-- <add key="connStr" value="server=172.20.70.42;database=MTD_Test;uid=MTD_Test;pwd=1devuser!"/> -->
    <add key="WEB_TEMP_PATH" value="C:\Users\administrator\Documents\Visual Studio 2017\Projects\TMAService4.6\TMAWebService\tempdir"/>
    <add key="WEB_URL" value="https://localhost:4031/tempdir/"/>
    <add key="IMPERS_USER" value="administrator"/>
    <add key="IMPERS_DOM" value="monterey"/>
    <add key="IMPERS_PASS" value="1picard!"/>
	<!-- <add key="MTD_PATH" value="\\mtry-supergrande\Data\"/>	  
    <add key="WSROOTPATH" value="\\mlcloud-ws1\wsfiles\"/>
    <add key="MTD_UNC" value="P:\"/> -->
	<add key="MTD_PATH" value="\\mtry-supergrande\Data\Test\"/>
    <add key="WSROOTPATH" value="\\mtry-wstest\wsfiles\"/>
    <add key="MTD_UNC" value="P:\Test\"/>
    <add key="WSROOTPATH2" value="\\mlcloud-ws2\wsfiles\"/>
	<add key="MTD_DEBUG" value="TRUE"/>
    <add key="MTD_DEBUGFILE" value="C:\Users\administrator\Documents\Visual Studio 2017\Projects\TMAService4.6\TMAWebService\debug.txt"/>
    <add key="TEMPXMLFILE" value="C:\wstemp\temp.xml"/>
	<add key="TEMPFOLDER" value="C:\wstemp"/>
    <add key="MTD_USR" value="vilma"/>	
    <!-- <add key="MTD_PWD" value="sorpresa1!" />  -->
    <add key="MTD_PWD" value="xindi"/>
    <add key="WS_USR" value="mtd_user"/>
    <add key="WS_PWD" value="1MTDservices!"/>
    <add key="CONTACT_IID" value="5174"/>
    <add key="CUSTOMER_IID" value="943"/>
    <add key="Base_Internal_Rate" value="35.00"/>
    <add key="WS_notify_email" value="marcelo@medialocate.com"/>
    <add key="WS_TM_name" value="TM"/>
    <add key="API_KEY" value="ED3CDC5D-CF3A-4B94-B564-7732098F9E6B"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="25" userName="levsky" password="vicodin"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!-- <add name="TMAConnectionString" connectionString="server=172.20.70.42;database=MTD_Production;UID=MTD_Production;PWD=w0mbat;" providerName="System.Data.SqlClient"/> -->
    <add name="TMAConnectionString" connectionString="server=172.20.70.42;database=MTD_Test;UID=MTD_test;PWD=1devuser!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="4.6.2" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TMAServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="TMAServiceSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tma-test.medialocate.com/TMAService.asmx" binding="basicHttpBinding" bindingConfiguration="TMAServiceSoap" contract="ServiceReference1.TMAServiceSoap" name="TMAServiceSoap"/>
    </client>
  </system.serviceModel>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
  </runtime>
</configuration>